<%= simple_form_for(@post) do |f| %>

  <div class="form-imputs">
    <%= f.input :content, required: true, maxlength: 140%>
    <p>This post is sheduled at<b> <%= Time.zone.name %> time</b></p>
    <%= f.input :scheduled_at, required: true %>
  </div>

  <div class="form-inputs">
    <% if current_user.connections.where(provider: 'twitter').any? %>
      <%= f.input :twitter, required: true%>
    <% end %>

    <% if current_user.connections.where(provider: 'facebook').any? %>
      <%= f.input :facebook, required: true%>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<%end%>
